<div class="container">
  <p class="message">{{ message }}</p>
  <div class="timer-container">
    <div class="minutes">{{ strMinutes }}</div>
    <div class="middle">:</div>
    <div class="seconds">{{ strSeconds }}</div>
  </div>
  <div class="buttons">
    <button id="play" class="btn-black" (click)="startTimer()" *ngIf="status === 'STOP' || status === 'PAUSE'">
      <i class="fas fa-play-circle"></i>
    </button>
    <button id="pause" class="btn-black" (click)="pauseTimer()" *ngIf="status === 'RUNNING'">
      <i class="fas fa-pause-circle"></i>
    </button>
    <button id="stop" class="btn-black" (click)="stopTimer()" *ngIf="status === 'RUNNING' || status === 'PAUSE'">
      <i class="fas fa-undo"></i>
    </button>
    <button
      id="sayTimeLeft"
      class="btn-black"
      (click)="volumeOnSub$.next('on')"
      *ngIf="speechSupported && volumeOn === 'off'"
    >
      <i class="fas fa-volume-up"></i>
    </button>
    <button
      id="mutetime"
      class="btn-black"
      (click)="volumeOnSub$.next('off')"
      *ngIf="speechSupported && volumeOn === 'on'"
    >
      <i class="fas fa-volume-mute"></i>
    </button>
  </div>
</div>
