.container {
  color: #FFF;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.timer-container {
  font-size: 200px;
  margin-top: 40px;
  margin-bottom: 40px;
  line-height: 1;

  display: flex;
}

.minutes, .middle, .seconds {
  padding: 15px;
}

.buttons {
  display: flex;
  justify-content: center;
}

.btn-black {
  width: 3em;
  height: 3em;
  background: #000;
  color: #FFF;
  margin: 5px;
  border-radius: 10px;
  font-size: 1em;
}

.message {
  font-size: 1.5em;
}
